.mini-cart-product {
  position: relative;
  border: 1px solid var(--color-neutral-muted);
  padding: 8px;
  background-color: var(--color-surface-default);

  &__top {
    display: flex;
    align-items: flex-start;
  }

  &__img {
    flex-shrink: 0;
    margin-right: 16px;
  }

  &__title {
    margin: 0;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 12px;
    line-height: 140%;
    text-transform: uppercase;
    color: var(--color-primary);
  }

  &__link {
    color: inherit;

    &::after {
      content: "";
      position: absolute;
      inset: 0;
    }
  }

  &__delete {
    position: relative;
    z-index: 4;
    margin-left: auto;
    width: 16px;
    height: 16px;

    svg {
      fill: var(--color-secondary);
    }
  }

  &__stepper {
    position: relative;
    z-index: 4;
  }

  &__bottom {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-top: 16px;
  }

  &__price {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 12px;
    line-height: 120%;
    text-transform: uppercase;
    color: var(--color-primary);
  }
}
