<header class="header">
  <div class="header__top">
    <div class="container header__container">
      <a class="header__logo" href="#">Reel to real</a>

      <nav class="nav">
        <ul class="nav__list">
          <li class="nav__item">
            <a class="nav__link" href="shops.html">Магазины</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="contacts.html">Контакты</a>
          </li>
        </ul>
      </nav>

      <div class="header__actions">
        <a
          href="#"
          class="header__favorite header__action"
          aria-label="Перейти в избранное"
        >
          <svg class="icon">
            <use href="/icons/sprite.svg#favorite"></use>
          </svg>
        </a>

        <button
          class="header__cart header__action"
          aria-label="Открыть мини корзину"
        >
          <svg class="icon">
            <use href="/icons/sprite.svg#cart"></use>
          </svg>
        </button>

        <button class="header__enter header__action">Войти</button>
      </div>
    </div>
  </div>

  <div class="header__bottom">
    <div class="container header__container">
      <button class="header-btn header__catalog">
        <svg class="header-btn__icon">
          <use href="/icons/sprite.svg#burger"></use>
        </svg>
        Каталог
        <svg class="header-btn__angle">
          <use href="/icons/sprite.svg#angle"></use>
        </svg>
      </button>
      <button class="header-btn header__collections">
        <svg class="header-btn__icon">
          <use href="/icons/sprite.svg#burger"></use>
        </svg>
        Колекции
        <svg class="header-btn__angle">
          <use href="/icons/sprite.svg#angle"></use>
        </svg>
      </button>
      <form class="header-search">
        <label class="header-search__label">
          <svg class="header-search__icon">
            <use href="/icons/sprite.svg#search"></use>
          </svg>
          <input
            class="header-search__input"
            type="search"
            placeholder="Найти винил или аппаратуру"
          />
        </label>
      </form>
      <a class="header__phone" href="tel:88004567890">8-800-456-78-90</a>
    </div>
  </div>
</header>
