<div class="mini-cart">
  <div class="mini-cart__top">
    <h2 class="mini-cart__title">
      Корзина
      <span class="mini-cart__quantity">3</span>
    </h2>
    <button class="mini-cart__close" aria-label="Закрыть мини-корзину">
      <svg class="icon">
        <use xlink:href="/icons/sprite.svg#close"></use>
      </svg>
    </button>
  </div>
  <div class="mini-cart__content">
    <div class="mini-cart__products" data-simplebar>
      <article class="mini-cart-product">
        <div class="mini-cart-product__top">
          <picture>
            <source srcset="/img/products/1-mini.webp" type="image/webp" />
            <img
              class="mini-cart-product__img"
              src="/img/products/1-mini.png"
              width="52"
              height="52"
              loading="lazy"
              alt="Neumann TLM 102 BK"
            />
          </picture>
          <h3 class="mini-cart-product__title">
            <a href="#" class="mini-cart-product__link">Neumann TLM 102 BK</a>
          </h3>
          <button
            class="mini-cart-product__delete"
            aria-label="Удалить из мини-коризны"
          >
            <svg class="icon">
              <use xlink:href="/icons/sprite.svg#close"></use>
            </svg>
          </button>
        </div>
        <div class="mini-cart-product__bottom">
          <div class="stepper mini-cart-product__stepper">
            <button class="stepper__minus" aria-label="Уменьшить">
              <svg class="icon">
                <use xlink:href="/icons/sprite.svg#minus"></use>
              </svg>
            </button>
            <input
              type="number"
              class="stepper__input"
              value="1"
              maxlength="2"
            />
            <button class="stepper__plus" aria-label="Увеличить">
              <svg class="icon">
                <use xlink:href="/icons/sprite.svg#plus"></use>
              </svg>
            </button>
          </div>
          <div class="mini-cart-product__price">91 890 ₽</div>
        </div>
      </article>
      <article class="mini-cart-product">
        <div class="mini-cart-product__top">
          <picture>
            <source srcset="/img/products/1-mini.webp" type="image/webp" />
            <img
              class="mini-cart-product__img"
              src="/img/products/1-mini.png"
              width="52"
              height="52"
              loading="lazy"
              alt="Neumann TLM 102 BK"
            />
          </picture>
          <h3 class="mini-cart-product__title">
            <a href="#" class="mini-cart-product__link">Neumann TLM 102 BK</a>
          </h3>
          <button
            class="mini-cart-product__delete"
            aria-label="Удалить из мини-коризны"
          >
            <svg class="icon">
              <use xlink:href="/icons/sprite.svg#close"></use>
            </svg>
          </button>
        </div>
        <div class="mini-cart-product__bottom">
          <div class="stepper mini-cart-product__stepper">
            <button class="stepper__minus" aria-label="Уменьшить">
              <svg class="icon">
                <use xlink:href="/icons/sprite.svg#minus"></use>
              </svg>
            </button>
            <input
              type="number"
              class="stepper__input"
              value="1"
              maxlength="2"
            />
            <button class="stepper__plus" aria-label="Увеличить">
              <svg class="icon">
                <use xlink:href="/icons/sprite.svg#plus"></use>
              </svg>
            </button>
          </div>
          <div class="mini-cart-product__price">91 890 ₽</div>
        </div>
      </article>
      <article class="mini-cart-product">
        <div class="mini-cart-product__top">
          <picture>
            <source srcset="/img/products/1-mini.webp" type="image/webp" />
            <img
              class="mini-cart-product__img"
              src="/img/products/1-mini.png"
              width="52"
              height="52"
              loading="lazy"
              alt="Neumann TLM 102 BK"
            />
          </picture>
          <h3 class="mini-cart-product__title">
            <a href="#" class="mini-cart-product__link">Neumann TLM 102 BK</a>
          </h3>
          <button
            class="mini-cart-product__delete"
            aria-label="Удалить из мини-коризны"
          >
            <svg class="icon">
              <use xlink:href="/icons/sprite.svg#close"></use>
            </svg>
          </button>
        </div>
        <div class="mini-cart-product__bottom">
          <div class="stepper mini-cart-product__stepper">
            <button class="stepper__minus" aria-label="Уменьшить">
              <svg class="icon">
                <use xlink:href="/icons/sprite.svg#minus"></use>
              </svg>
            </button>
            <input
              type="number"
              class="stepper__input"
              value="1"
              maxlength="2"
            />
            <button class="stepper__plus" aria-label="Увеличить">
              <svg class="icon">
                <use xlink:href="/icons/sprite.svg#plus"></use>
              </svg>
            </button>
          </div>
          <div class="mini-cart-product__price">91 890 ₽</div>
        </div>
      </article>
    </div>

    <div class="mini-cart__bottom">
      <div class="mini-cart__result">
        <div class="mini-cart__text">Итог</div>
        <div class="mini-cart__total">210 210 ₽</div>
      </div>
      <a href="cart.html" class="mini-cart__btn btn btn--primary">В корзину</a>
    </div>
  </div>
</div>
